xml/ceo2marup1_amazon_todaysinmpact_schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start= article 
article = element article {title,date,paragraphs }
title = element title {author, text}
author = elemrnt author {text}
date = element date {text}
paragraphs= element paragraphs {intro, p}
p = element p { mixed (type,number,)*}
type = attribute type {intro}
number = attribute number {1,2,3}

