xml/old-schemas/anderson_brazil.rnc

start =root
 root= element root {(date|quantity|object|action|org|location|group)+}
  date= element date {text}
  quantity= element quantity {text}
  object= element object {text}
  action= element action {text}
  org = element org {text} # for coding organizations
  location= element location {text}
  group=element group {text}